body {
  background-color:#DBCDF4;

  font-family: 'Shantell Sans';
  color: #9370DB;
}

@font-face {
  font-family: 'Shantell Sans';
  src:  url('./resources/fonts/Caveat/Shantell Sans-Regular.ttf') format('truetype');
}

p {
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 30px;
}

h1{
  text-align: center;
  font-size: 60px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg-animation 2s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: #757BC8;
  }
  7% {
    background-color: #8187DC;
  }
  13% {
    background-color: #8E94F2;
  }
  20% {
    background-color: #9FA0FF;
  }
  26% {
    background-color: #ADA7FF;
  }
  33% {
    background-color: #bc9fff;
  }
  39% {
    background-color: #BBADFF;
  }
  46% {
    background-color: #CBB2FE;
  }
  52% {
    background-color: #DAB6FC;
  }
  59% {
    background-color: #DDBDFC;
  }
  65% {
    background-color: #E0C3FC;
  }
  72% {
    background-color: #acb1ff;
  }
  79% {
    background-color: #8187DC;
  }
  85% {
    background-color: #8E94F2;
  }
  100% {
    background-color: #9FA0FF;
  }
}

@keyframes bg-animation {
  0% {
    background-color: #757BC8;
  }
  7% {
    background-color: #8187DC;
  }
  13% {
    background-color: #8E94F2;
  }
  20% {
    background-color: #9FA0FF;
  }
  26% {
    background-color: #ADA7FF;
  }
  33% {
    background-color: #bc9fff;
  }
  39% {
    background-color: #BBADFF;
  }
  46% {
    background-color: #CBB2FE;
  }
  52% {
    background-color: #DAB6FC;
  }
  59% {
    background-color: #DDBDFC;
  }
  65% {
    background-color: #E0C3FC;
  }
  72% {
    background-color: #757BC8;
  }
  79% {
    background-color: #8187DC;
  }
  85% {
    background-color: #8E94F2;
  }
  100% {
    background-color: #9FA0FF;
  }
}

.button {
  border-radius: 5px;
  font-family: 'Shantell Sans';
  font-size: 30px;
  background-color: rgb(202, 112, 172); /* Green */
  border: none;
  color: rgb(187, 170, 140);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.home_button {
  background-color: rgb(218, 141, 79);
  color: #CDD7D6;
}

.home_button:hover {
  background-color: #eb9d36;
  color: #FFFFFF;
}



