body {
  background-color:#bdb2c1;
  font-family: 'Caveat';
  color: #6d597a;
}

@font-face {
  font-family: 'Caveat';
  src:  url('./resources/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

p {
  font-size: 30px;
  text-align: center;
}

a {
  font-size: 30px;
}

h1{
  text-align: center;
  font-size: 60px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg-animation 2s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: #D4B3FF;
  }
  7% {
    background-color: #DAB8F0;
  }
  13% {
    background-color: #E0BEE1;
  }
  20% {
    background-color: #E6C3D2;
  }
  26% {
    background-color: #EDC8C3;
  }
  33% {
    background-color: #F3CDB4;
  }
  39% {
    background-color: #F9D3A5;
  }
  46% {
    background-color: #FFD896;
  }
  52% {
    background-color: #F9D3A5;
  }
  59% {
    background-color: #F3CDB4;
  }
  65% {
    background-color: #EDC8C3;
  }
  72% {
    background-color: #E6C3D2;
  }
  79% {
    background-color: #E0BEE1;
  }
  85% {
    background-color: #DAB8F0;
  }
  100% {
    background-color: #D4B3FF;
  }
}

@keyframes bg-animation {
  0% {
    background-color: #D4B3FF;
  }
  7% {
    background-color: #DAB8F0;
  }
  13% {
    background-color: #E0BEE1;
  }
  20% {
    background-color: #E6C3D2;
  }
  26% {
    background-color: #EDC8C3;
  }
  33% {
    background-color: #F3CDB4;
  }
  39% {
    background-color: #F9D3A5;
  }
  46% {
    background-color: #FFD896;
  }
  52% {
    background-color: #F9D3A5;
  }
  59% {
    background-color: #F3CDB4;
  }
  65% {
    background-color: #EDC8C3;
  }
  72% {
    background-color: #E6C3D2;
  }
  79% {
    background-color: #E0BEE1;
  }
  85% {
    background-color: #DAB8F0;
  }
  100% {
    background-color: #D4B3FF;
  }
}

.button {
  border-radius: 5px;
  font-family: 'Caveat';
  font-size: 30px;
  background-color: pink; /* Green */
  border: none;
  color: pink;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.home_button {
  background-color: pink;
  color: #a53860;
}

.home_button:hover {
  background-color: #ffd972;
  color: #f2545b;
}
